.App {
  text-align: center;
}

.hidden{
  display: none;
}

.show {
  display: block;
}

.left1{
  text-align:left;
}


#search-bar{
  display:inline-block;
  margin-bottom:20px;
}

.dropdown 
{
  display:inline-block;
}

.dropdown:hover .dropdown-content 
{
    display: block;
}


#search-bar-form{
  margin-left:10px;
  font-size:17px;
}

.edit{
  margin-left:-2px;
}

#search-barr{
width:250px;
height:30px;
padding-left:15px;
border-radius:6px;
border:none;
color:#0F0D0D;
font-weight:500;
background-color:#f7fafc;
-webkit-box-shadow:
0 -2px 2px 0 rgba(199, 199, 199, 0.25),
0 1px 1px 0 #fff,
0 2px 2px 1px #fafafa,
0 2px 4px 0 #b2b2b2 inset,
0 -1px 1px 0 #f2f2f2 inset,
0 15px 15px 0 rgba(41, 41, 41, 0.02) inset;
-moz-box-shadow:
0 -2px 2px 0 rgba(199, 199, 199, 0.25),
0 1px 1px 0 #fff,
0 2px 2px 1px #fafafa,
0 2px 4px 0 #b2b2b2 inset,
0 -1px 1px 0 #f2f2f2 inset,
0 15px 15px 0 rgba(41, 41, 41, 0.02) inset;
box-shadow:
0 -2px 2px 0 rgba(199, 199, 199, 0.25),
0 1px 1px 0 #fff,
0 2px 2px 1px #fafafa,
0 2px 4px 0 #b2b2b2 inset,
0 -1px 1px 0 #f2f2f2 inset,
0 15px 15px 0 rgba(41, 41, 41, 0.02) inset;
}

::placeholder{
  color:#848383;
}

.submit{
  border:none;
  background-color:white;
  height:30px;
  width:30px;
  margin-left:5px;
}

.pizza{
  display:block;
  margin-top:45px;
}

.options{
  margin:0 auto;
  width:265px;
  margin-bottom:10px;
}

.sort{
  margin-top:3px;
  margin-bottom:5px;
  float:left;
  width:70px;
}

.sorta{
  float:left;
  width:80px;
  height:30px;
  margin-right:10px;
  background-color:white;
  border-style:solid;
  border-width:2px;
}

.sortr{
  float:left;
  width:90px;
  height:30px;
  background-color:white;
  border-style:solid;
  border-width:2px;
}

.orange{
  border-color:orange;
}


button:focus{
  background-color:white;
  -webkit-box-shadow:
0 22px 2px 0 rgba(199, 199, 199, 0.25),
0 1px 1px 0 #fff,

0 15px 15px 0 rgba(41, 41, 41, 0.02) inset;
-moz-box-shadow:
0 2px 2px 0 rgba(199, 199, 199, 0.25),
0 1px 1px 0 #fff,

0 15px 15px 0 rgba(41, 41, 41, 0.02) inset;
box-shadow:
0 2px 2px 0 rgba(199, 199, 199, 0.25),
0 1px 1px 0 #fff,
0 15px 15px 0 rgba(41, 41, 41, 0.02) inset;
}

blockquote{
  background-color:rgba(199, 199, 199, 0.25);
  width:650px;
}

.App-intro {
  font-size: large;
}

.container{
  width:650px;
  margin-left:auto;

}

code{
  white-space: pre-line;
  line-height:1px;
}

.lista{
  margin: 20px auto;
  height:100px;
  width:600px;
  border-radius:5px;
  border-left-width:2px;
  border-left-color:black;
  border-left-style:solid;
}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

  
