.App {
  text-align: center;
}

.App-header {
  background: url(wood2.png);
  background-repeat: no-repeat;
  background-size: 100% 76px;
  width:800px;
  height: 54px;
  padding: 5px;
  margin:0 auto;
  color: white;
  border-radius:5px;
}

.App-title {
  font-size: 1.5em;
  text-align:left;
  width:150px;
  display:inline-block;
}

.search-bar{
  display:inline-block;
  margin-bottom:20px;
}

.search-bar-form{
  margin-left:10px;
  font-size:17px;
}

.search-barr{
  margin-left:5px;
  padding-left:15px;
  border-radius:15px;
  border-width:2px;
  border-style:none;
  border-color:gray;
  height:25px;
  width:200px;
  border-bottom-style:inset;
}

.submit{
  border-radius:50%;
  border-right-style:none;
  border-width:2px;
  border-style:none;
  border-color:gray;
  border-bottom-style:inset;
  background-color:white;
  height:30px;
  width:30px;
}

.App-intro {
  font-size: large;
}

.lista {
  margin:20px auto;
  width:350px; 
  height:100px; 
  background-color:rgb(255,238,221);
  position:relative;
}

.listb{
  float:left;
  width:340px;
  padding-top:5px;
}

.bracket{
  float:left;
  height:100px;
  width:10px;
  background: url(wood3.png);
  background-repeat: no-repeat;
  background-size: 100% 100px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
